$icomoon-font-family: "fintellix-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-create-folder: "\e907";
$icon-file-download: "\e908";
$icon-file-share: "\e909";
$icon-file-upload: "\e90a";
$icon-move-path: "\e90b";
$icon-user-permission: "\e90c";
$icon-add-comment: "\e904";
$icon-all-comments-added: "\e905";
$icon-edit-comment: "\e906";
$icon-more-alt: "\e901";
$icon-inbox-alt: "\e902";
$icon-clock-alt: "\e903";
$icon-pw-reset: "\e900";
$icon-3d-rotation: "\f101";
$icon-airplane-mode-off: "\f102";
$icon-airplane-mode-on: "\f103";
$icon-disc: "\f104";
$icon-store-download: "\f105";
$icon-profile: "\f106";
$icon-profile-warning: "\f107";
$icon-profile-valid: "\f108";
$icon-tasks: "\f109";
$icon-profile-import: "\f10a";
$icon-profile-download: "\f10b";
$icon-profile-details: "\f10c";
$icon-attachment: "\f10d";
$icon-attachment-horizontal: "\f10e";
$icon-tone: "\f10f";
$icon-verified: "\f110";
$icon-wallet: "\f111";
$icon-bank: "\f112";
$icon-battery-warning: "\f113";
$icon-battery-charging: "\f114";
$icon-battery-indeterminate: "\f115";
$icon-battery: "\f116";
$icon-cycle: "\f117";
$icon-cancel: "\f118";
$icon-cancel-alternate: "\f119";
$icon-cruise: "\f11a";
$icon-bookmark-picture: "\f11b";
$icon-bookmark-document: "\f11c";
$icon-bookmark-outline: "\f11d";
$icon-bookmark-solid: "\f11e";
$icon-paint-brush: "\f11f";
$icon-bug: "\f120";
$icon-bus: "\f121";
$icon-cake: "\f122";
$icon-car-taxi: "\f123";
$icon-car-wash: "\f124";
$icon-car: "\f125";
$icon-gift: "\f126";
$icon-receipt: "\f127";
$icon-purchase: "\f128";
$icon-card: "\f129";
$icon-folio-verfied: "\f12a";
$icon-folio-download: "\f12b";
$icon-folio-play: "\f12c";
$icon-folio: "\f12d";
$icon-stream-solid: "\f12e";
$icon-stream-outline: "\f12f";
$icon-chart-pie: "\f130";
$icon-chart-bar: "\f131";
$icon-building-res: "\f132";
$icon-building-office: "\f133";
$icon-cancel-outline: "\f134";
$icon-cancel-solid: "\f135";
$icon-close: "\f136";
$icon-drinks: "\f137";
$icon-grow: "\f138";
$icon-grow-device: "\f139";
$icon-move: "\f13a";
$icon-coffee: "\f13b";
$icon-collections-bookmark: "\f13c";
$icon-collections-purchase: "\f13d";
$icon-collections-folder: "\f13e";
$icon-collections-image-outline: "\f13f";
$icon-collections-image-solid: "\f140";
$icon-collections-one: "\f141";
$icon-collections-two: "\f142";
$icon-collections-three: "\f143";
$icon-collections-four: "\f144";
$icon-collections-five: "\f145";
$icon-collections-six: "\f146";
$icon-collections-seven: "\f147";
$icon-collections-eight: "\f148";
$icon-colections-nine-plus: "\f149";
$icon-collections-nine: "\f14a";
$icon-collections: "\f14b";
$icon-collections-songs: "\f14c";
$icon-collections-pdf: "\f14d";
$icon-collections-add: "\f14e";
$icon-collections-sound: "\f14f";
$icon-collections-details: "\f150";
$icon-collections-video: "\f151";
$icon-compass: "\f152";
$icon-restaurant: "\f153";
$icon-trash-solid: "\f154";
$icon-dialpad: "\f155";
$icon-hdd-nas: "\f156";
$icon-water: "\f157";
$icon-edit: "\f158";
$icon-mail-read: "\f159";
$icon-mail-unread: "\f15a";
$icon-hide: "\f15b";
$icon-show: "\f15c";
$icon-picker: "\f15d";
$icon-heart-outline: "\f15e";
$icon-heart-solid: "\f15f";
$icon-filter: "\f160";
$icon-fire: "\f161";
$icon-flag: "\f162";
$icon-star: "\f163";
$icon-flash-auto: "\f164";
$icon-flash-no: "\f165";
$icon-flash: "\f166";
$icon-complete: "\f167";
$icon-plant: "\f168";
$icon-flower: "\f169";
$icon-text: "\f16a";
$icon-stretch: "\f16b";
$icon-window-collapse: "\f16c";
$icon-window-expand: "\f16d";
$icon-formula: "\f16e";
$icon-fuel: "\f16f";
$icon-draw: "\f170";
$icon-internet: "\f171";
$icon-connection-secure: "\f172";
$icon-connection: "\f173";
$icon-school: "\f174";
$icon-home: "\f175";
$icon-chemist: "\f176";
$icon-add-object: "\f177";
$icon-bed: "\f178";
$icon-timer-running: "\f179";
$icon-timer-outline: "\f17a";
$icon-timer-solid: "\f17b";
$icon-url: "\f17c";
$icon-picture-landscape: "\f17d";
$icon-picture-outline: "\f17e";
$icon-picture-solid: "\f17f";
$icon-inbox: "\f180";
$icon-colours-remove: "\f181";
$icon-colours: "\f182";
$icon-key: "\f183";
$icon-mark-outline: "\f184";
$icon-mark-solid: "\f185";
$icon-tag-design: "\f186";
$icon-tag: "\f187";
$icon-shadecard: "\f188";
$icon-bulb: "\f189";
$icon-landscape: "\f18a";
$icon-layers-none: "\f18b";
$icon-layers: "\f18c";
$icon-library: "\f18d";
$icon-link: "\f18e";
$icon-unlock: "\f18f";
$icon-lock-outline: "\f190";
$icon-lock-solid: "\f191";
$icon-undo-all: "\f192";
$icon-undo: "\f193";
$icon-send: "\f194";
$icon-mall: "\f195";
$icon-layout: "\f196";
$icon-settings: "\f197";
$icon-dollar-cash: "\f198";
$icon-dollar-none: "\f199";
$icon-dollar: "\f19a";
$icon-settings-min: "\f19b";
$icon-ellipsis: "\f19c";
$icon-film: "\f19d";
$icon-movie: "\f19e";
$icon-tree-man: "\f19f";
$icon-tree: "\f1a0";
$icon-pointer: "\f1a1";
$icon-upload: "\f1a2";
$icon-goto-link: "\f1a3";
$icon-pallette: "\f1a4";
$icon-letter-p: "\f1a5";
$icon-details-person: "\f1a6";
$icon-details-objection: "\f1a7";
$icon-location: "\f1a8";
$icon-details-unknown: "\f1a9";
$icon-location-none: "\f1aa";
$icon-location-pin: "\f1ab";
$icon-pizza: "\f1ac";
$icon-band-aid: "\f1ad";
$icon-power-settings: "\f1ae";
$icon-power: "\f1af";
$icon-printer: "\f1b0";
$icon-puzzle: "\f1b1";
$icon-quotes: "\f1b2";
$icon-train: "\f1b3";
$icon-tear-away: "\f1b4";
$icon-reset: "\f1b5";
$icon-reset-error: "\f1b6";
$icon-reset-none: "\f1b7";
$icon-reset-alternate: "\f1b8";
$icon-reset-refresh: "\f1b9";
$icon-roller: "\f1ba";
$icon-scale: "\f1bb";
$icon-scissors: "\f1bc";
$icon-rotate-lock: "\f1bd";
$icon-rotate: "\f1be";
$icon-search-again: "\f1bf";
$icon-search-document: "\f1c0";
$icon-search-object: "\f1c1";
$icon-search-reset: "\f1c2";
$icon-search: "\f1c3";
$icon-chair: "\f1c4";
$icon-settings-object: "\f1c5";
$icon-settings-gear: "\f1c6";
$icon-security-verified: "\f1c7";
$icon-security: "\f1c8";
$icon-basket: "\f1c9";
$icon-cart-add: "\f1ca";
$icon-cart: "\f1cb";
$icon-go-to: "\f1cc";
$icon-sort-ascending: "\f1cd";
$icon-sort-descending: "\f1ce";
$icon-sort-az: "\f1cf";
$icon-sort-za: "\f1d0";
$icon-validate: "\f1d1";
$icon-storage: "\f1d2";
$icon-store-24: "\f1d3";
$icon-store: "\f1d4";
$icon-metro: "\f1d5";
$icon-sun: "\f1d6";
$icon-tab-unselected: "\f1d7";
$icon-tab-selected: "\f1d8";
$icon-remark-close: "\f1d9";
$icon-remark-details: "\f1da";
$icon-remark: "\f1db";
$icon-vote-down: "\f1dc";
$icon-vote: "\f1dd";
$icon-vote-up: "\f1de";
$icon-ticket: "\f1df";
$icon-motion: "\f1e0";
$icon-wind: "\f1e1";
$icon-traffic: "\f1e2";
$icon-translate: "\f1e3";
$icon-arrow-outline-down: "\f1e4";
$icon-arrow-outline-up: "\f1e5";
$icon-truck: "\f1e6";
$icon-right: "\f1e7";
$icon-frame: "\f1e8";
$icon-washer: "\f1e9";
$icon-window-max: "\f1ea";
$icon-window-hide: "\f1eb";
$icon-window-min: "\f1ec";
$icon-wrench: "\f1ed";
$icon-zoom-in: "\f1ee";
$icon-zoom-out: "\f1ef";
$icon-alert-outline: "\f1f0";
$icon-alert-solid: "\f1f1";
$icon-alert-hex: "\f1f2";
$icon-alert-star: "\f1f3";
$icon-alert-triangle: "\f1f4";
$icon-doubt-outline: "\f1f5";
$icon-doubt-solid: "\f1f6";
$icon-info-outline: "\f1f7";
$icon-info-solid: "\f1f8";
$icon-notification: "\f1f9";
$icon-notification-add: "\f1fa";
$icon-notification-outline: "\f1fb";
$icon-notifictio-cancel: "\f1fc";
$icon-notification-sleep: "\f1fd";
$icon-notifiaction-solid: "\f1fe";
$icon-person-add: "\f1ff";
$icon-person-mail: "\f200";
$icon-person-object: "\f201";
$icon-person-call: "\f202";
$icon-person-object-solid: "\f203";
$icon-person-object-calendar: "\f204";
$icon-person-profile: "\f205";
$icon-person-outline: "\f206";
$icon-person-solid: "\f207";
$icon-person-add-group: "\f208";
$icon-person-group: "\f209";
$icon-person-list: "\f20a";
$icon-person-import: "\f20b";
$icon-person-team-outline: "\f20c";
$icon-person-team-solid: "\f20d";
$icon-person-face: "\f20e";
$icon-person-female: "\f20f";
$icon-person-male: "\f210";
$icon-person-unisex: "\f211";
$icon-person-stand: "\f212";
$icon-person-sad: "\f213";
$icon-person-happy: "\f214";
$icon-person-run: "\f215";
$icon-person-walk: "\f216";
$icon-cloud-object: "\f217";
$icon-cloud-profile: "\f218";
$icon-cloud-verified: "\f219";
$icon-cloud-download: "\f21a";
$icon-cloud-disconnect: "\f21b";
$icon-cloud-stylistic: "\f21c";
$icon-cloud-outline: "\f21d";
$icon-cloud-upload: "\f21e";
$icon-cloud-solid: "\f21f";
$icon-download: "\f220";
$icon-document-add: "\f221";
$icon-document-details: "\f222";
$icon-document: "\f223";
$icon-folder: "\f224";
$icon-folder-person: "\f225";
$icon-folder-star-big: "\f226";
$icon-golder-star-small: "\f227";
$icon-folder-solid: "\f228";
$icon-gif: "\f229";
$icon-upload-dash: "\f22a";
$icon-grid: "\f22b";
$icon-grid-border-bottom: "\f22c";
$icon-grid-outline: "\f22d";
$icon-edit-row: "\f22e";
$icon-grid-divider-h: "\f22f";
$icon-grid-dividers: "\f230";
$icon-grid-border-left: "\f231";
$icon-grid-border-all: "\f232";
$icon-grid-border-right: "\f233";
$icon-grid-border-topleft: "\f234";
$icon-grid-border-top: "\f235";
$icon-grid-divider-v: "\f236";
$icon-file-copy: "\f237";
$icon-arrow-juxtapose: "\f238";
$icon-align-center: "\f239";
$icon-align-justify: "\f23a";
$icon-align-left: "\f23b";
$icon-align-right: "\f23c";
$icon-text-bold: "\f23d";
$icon-text-stagger: "\f23e";
$icon-text-format-cancel: "\f23f";
$icon-colour-line: "\f240";
$icon-colour-clear: "\f241";
$icon-text-format: "\f242";
$icon-text-indent-left: "\f243";
$icon-text-indent-right: "\f244";
$icon-text-italics: "\f245";
$icon-text-line-spacing: "\f246";
$icon-text-bullets: "\f247";
$icon-text-list: "\f248";
$icon-margin-right: "\f249";
$icon-margin-left: "\f24a";
$icon-text-size: "\f24b";
$icon-text-strike: "\f24c";
$icon-text-strike-through: "\f24d";
$icon-align-justify-parA: "\f24e";
$icon-text-underline: "\f24f";
$icon-text-move-down: "\f250";
$icon-text-align: "\f251";
$icon-text-move-up: "\f252";
$icon-redo-arrow: "\f253";
$icon-center: "\f254";
$icon-text-space: "\f255";
$icon-text-format-small: "\f256";
$icon-arrow-pivot: "\f257";
$icon-undo-arrow: "\f258";
$icon-text-reorder: "\f259";
$icon-chat-alert: "\f25a";
$icon-chat-details-l: "\f25b";
$icon-chat-solid-l: "\f25c";
$icon-chat-edit: "\f25d";
$icon-chat-picture: "\f25e";
$icon-chat-tasks: "\f25f";
$icon-chat-typing: "\f260";
$icon-chat-outline: "\f261";
$icon-chat-text: "\f262";
$icon-chat-details: "\f263";
$icon-chat-video: "\f264";
$icon-chat-solid: "\f265";
$icon-chat-conversation: "\f266";
$icon-chat-read: "\f267";
$icon-accepted-line: "\f268";
$icon-accepted-round: "\f269";
$icon-accepted-object: "\f26a";
$icon-chat-delivered: "\f26b";
$icon-circle: "\f26c";
$icon-circle-solid: "\f26d";
$icon-circle-bullseye: "\f26e";
$icon-radio-selected: "\f26f";
$icon-circle-cancel: "\f270";
$icon-circle-cancel-solid: "\f271";
$icon-cancel-object: "\f272";
$icon-cancel-minus: "\f273";
$icon-circle-addto: "\f274";
$icon-circle-add: "\f275";
$icon-circle-add-solid: "\f276";
$icon-square-add: "\f277";
$icon-add: "\f278";
$icon-object: "\f279";
$icon-circle-star: "\f27a";
$icon-star-half: "\f27b";
$icon-star-outline: "\f27c";
$icon-star-solid: "\f27d";
$icon-bt-connected: "\f27e";
$icon-bt-off: "\f27f";
$icon-bt-transmit: "\f280";
$icon-bt-settings: "\f281";
$icon-bt: "\f282";
$icon-camera: "\f283";
$icon-camera-aperture: "\f284";
$icon-camera-bw: "\f285";
$icon-camera-selfie: "\f286";
$icon-camera-mic: "\f287";
$icon-camera-reselt: "\f288";
$icon-camera-selfie-solid: "\f289";
$icon-camera-film: "\f28a";
$icon-camera-wide0angle: "\f28b";
$icon-camera-solid: "\f28c";
$icon-card-alert: "\f28d";
$icon-card-not-found: "\f28e";
$icon-card-solid: "\f28f";
$icon-card-sim: "\f290";
$icon-desktop: "\f291";
$icon-monitor: "\f292";
$icon-device-hub: "\f293";
$icon-device-disconnect: "\f294";
$icon-device-connect: "\f295";
$icon-device-phone: "\f296";
$icon-save: "\f297";
$icon-device-gamepad: "\f298";
$icon-gps-dot: "\f299";
$icon-gps-off: "\f29a";
$icon-gps: "\f29b";
$icon-headphones-mic: "\f29c";
$icon-headphones: "\f29d";
$icon-hub-broadcast: "\f29e";
$icon-cables: "\f29f";
$icon-cables-vga: "\f2a0";
$icon-cables-power: "\f2a1";
$icon-cables-analog: "\f2a2";
$icon-keyboard-connect: "\f2a3";
$icon-keyboard: "\f2a4";
$icon-laptop: "\f2a5";
$icon-laptop-mac: "\f2a6";
$icon-laptop-alternate: "\f2a7";
$icon-mic-off: "\f2a8";
$icon-mic-outline: "\f2a9";
$icon-mic-settings: "\f2aa";
$icon-mic-solid: "\f2ab";
$icon-mouse: "\f2ac";
$icon-signal-alert: "\f2ad";
$icon-signal-locked: "\f2ae";
$icon-signal-cancel: "\f2af";
$icon-signal-outline: "\f2b0";
$icon-signal-settings: "\f2b1";
$icon-signal-solid: "\f2b2";
$icon-phone-bluetooth: "\f2b3";
$icon-phone-dc: "\f2b4";
$icon-phone-out: "\f2b5";
$icon-phone-transmit: "\f2b6";
$icon-phone-lock: "\f2b7";
$icon-phone-missed: "\f2b8";
$icon-phone-chat: "\f2b9";
$icon-phone-pause: "\f2ba";
$icon-phone-ring: "\f2bb";
$icon-phone-settings: "\f2bc";
$icon-phone-sip: "\f2bd";
$icon-phone-solid: "\f2be";
$icon-net-search: "\f2bf";
$icon-net-off: "\f2c0";
$icon-net: "\f2c1";
$icon-radio: "\f2c2";
$icon-toggle: "\f2c3";
$icon-phone-broadcast: "\f2c4";
$icon-tag-broadcast: "\f2c5";
$icon-router: "\f2c6";
$icon-router-opp: "\f2c7";
$icon-phone: "\f2c8";
$icon-phone-download: "\f2c9";
$icon-phone-off: "\f2ca";
$icon-phone-alert: "\f2cb";
$icon-phone-i: "\f2cc";
$icon-phone-s-locked: "\f2cd";
$icon-phone-s: "\f2ce";
$icon-phone-locked: "\f2cf";
$icon-phone-locking: "\f2d0";
$icon-phone-radiate: "\f2d1";
$icon-phone-more: "\f2d2";
$icon-phone-d-settings: "\f2d3";
$icon-phone-s-v: "\f2d4";
$icon-speaker: "\f2d5";
$icon-phone-w: "\f2d6";
$icon-phone-w-i: "\f2d7";
$icon-phone-w-h: "\f2d8";
$icon-media-tv-play: "\f2d9";
$icon-media-details: "\f2da";
$icon-media-play: "\f2db";
$icon-media: "\f2dc";
$icon-usb: "\f2dd";
$icon-video-off: "\f2de";
$icon-video-pan: "\f2df";
$icon-video-solid: "\f2e0";
$icon-watch: "\f2e1";
$icon-wifi-ping: "\f2e2";
$icon-wifi: "\f2e3";
$icon-wifi-alert: "\f2e4";
$icon-wifi-lock: "\f2e5";
$icon-wifi-off: "\f2e6";
$icon-wifi-outline: "\f2e7";
$icon-wifi-solid: "\f2e8";
$icon-arrow-b-l: "\f2e9";
$icon-arrow-l: "\f2ea";
$icon-arrow-merge: "\f2eb";
$icon-arrow-bounce: "\f2ec";
$icon-arrow-t-r: "\f2ed";
$icon-arrow-r: "\f2ee";
$icon-arrow-branch: "\f2ef";
$icon-arrow-four: "\f2f0";
$icon-arrow-down-circle: "\f2f1";
$icon-arrow-down-solid: "\f2f2";
$icon-arrow-left-circle: "\f2f3";
$icon-arrow-left: "\f2f4";
$icon-arrow-right-circle: "\f2f5";
$icon-arrow-right: "\f2f6";
$icon-arrow-top-circle: "\f2f7";
$icon-arrow-top-solid: "\f2f8";
$icon-arrow-a-down: "\f2f9";
$icon-arrow-a-left: "\f2fa";
$icon-arrow-a-right: "\f2fb";
$icon-arrow-a-top: "\f2fc";
$icon-arrow-thick-r: "\f2fd";
$icon-arrow-b: "\f2fe";
$icon-arrow-t-left: "\f2ff";
$icon-arrow-enter: "\f300";
$icon-arrow-t-right: "\f301";
$icon-arrow-roghtmost: "\f302";
$icon-arrow-top: "\f303";
$icon-arrow-rotate-ac: "\f304";
$icon-arrow-rotate-c: "\f305";
$icon-arrow-back: "\f306";
$icon-arrow-forward: "\f307";
$icon-arrow-download: "\f308";
$icon-arrow-import: "\f309";
$icon-arrow-twist: "\f30a";
$icon-data-circle: "\f30b";
$icon-data: "\f30c";
$icon-data-transact: "\f30d";
$icon-trend-down: "\f30e";
$icon-trend-steady: "\f30f";
$icon-trend-up: "\f310";
$icon-collapse: "\f311";
$icon-expand: "\f312";
$icon-apps: "\f313";
$icon-grid-off: "\f314";
$icon-grid-focus: "\f315";
$icon-view-strip: "\f316";
$icon-view-vertical: "\f317";
$icon-view-carousel: "\f318";
$icon-view-strip-v: "\f319";
$icon-view-blocks: "\f31a";
$icon-views-masonry: "\f31b";
$icon-view-dash: "\f31c";
$icon-view-horizontal: "\f31d";
$icon-view-headline: "\f31e";
$icon-view-tasks: "\f31f";
$icon-view-tasks-big: "\f320";
$icon-view-array: "\f321";
$icon-view-compact: "\f322";
$icon-view-stream: "\f323";
$icon-view-subtitles: "\f324";
$icon-view-toc: "\f325";
$icon-view-layout: "\f326";
$icon-view-week: "\f327";
$icon-widgets: "\f328";
$icon-alarm-set: "\f329";
$icon-alarm-cancel: "\f32a";
$icon-alarm-add: "\f32b";
$icon-alarm-sleep: "\f32c";
$icon-alarm-clock: "\f32d";
$icon-calendar-date: "\f32e";
$icon-calendar-set: "\f32f";
$icon-calendar-cancel: "\f330";
$icon-calendar-schedule: "\f331";
$icon-calendar: "\f332";
$icon-timer: "\f333";
$icon-timer-run: "\f334";
$icon-timer-reset: "\f335";
$icon-clock-reset: "\f336";
$icon-clock: "\f337";
$icon-chrono-cancel: "\f338";
$icon-chrono: "\f339";
$icon-ex-d-bug: "\f33a";
$icon-ex-droid: "\f33b";
$icon-ex-apple: "\f33c";
$icon-ex-behance: "\f33d";
$icon-ex-codepen: "\f33e";
$icon-ex-dribble: "\f33f";
$icon-ex-box: "\f340";
$icon-ex-evernote: "\f341";
$icon-ex-fb-solid: "\f342";
$icon-ex-fb-two: "\f343";
$icon-ex-github-object: "\f344";
$icon-ex-github-two: "\f345";
$icon-ex-gdrive: "\f346";
$icon-ex-g-earth: "\f347";
$icon-ex-g-apps: "\f348";
$icon-ex-g-map: "\f349";
$icon-ex-g-pages: "\f34a";
$icon-ex-g-play: "\f34b";
$icon-ex-g-plus-solid: "\f34c";
$icon-ex-g-plus-small: "\f34d";
$icon-ex-g: "\f34e";
$icon-ex-insta: "\f34f";
$icon-ex-html-3: "\f350";
$icon-ex-html-5: "\f351";
$icon-ex-js: "\f352";
$icon-ex-python: "\f353";
$icon-ex-python-two: "\f354";
$icon-ex-lastfm: "\f355";
$icon-ex-linkedin-solid: "\f356";
$icon-ex-p: "\f357";
$icon-ex-pinterest-solid: "\f358";
$icon-ex-pocket: "\f359";
$icon-ex-polymer: "\f35a";
$icon-ex-share: "\f35b";
$icon-ex-stackoverflow: "\f35c";
$icon-ex-steam-solid: "\f35d";
$icon-ex-steam: "\f35e";
$icon-ex-twitter-solid: "\f35f";
$icon-uniF360: "\f360";
$icon-ex-vk: "\f361";
$icon-ex-wiki: "\f362";
$icon-ex-windows: "\f363";
$icon-uniF364: "\f364";
$icon-af: "\f365";
$icon-af-circle: "\f366";
$icon-af-stream: "\f367";
$icon-af-cancel: "\f368";
$icon-af0center: "\f369";
$icon-night-moon: "\f36a";
$icon-night: "\f36b";
$icon-light-moon: "\f36c";
$icon-light-sun: "\f36d";
$icon-light-ambient: "\f36e";
$icon-light-art: "\f36f";
$icon-light-auto: "\f370";
$icon-light-object: "\f371";
$icon-error: "\f372";
$icon-focus: "\f373";
$icon-focus-outline: "\f374";
$icon-filter-bw: "\f375";
$icon-aspect-1: "\f376";
$icon-aspect-2: "\f377";
$icon-aspect-3: "\f378";
$icon-aspect-4: "\f379";
$icon-aspect-5: "\f37a";
$icon-aspect-auto: "\f37b";
$icon-aspect-6: "\f37c";
$icon-aspect-7: "\f37d";
$icon-aspect-8: "\f37e";
$icon-exposure: "\f37f";
$icon-exposure-alt: "\f380";
$icon-uniF381: "\f381";
$icon-focus-small: "\f382";
$icon-uniF383: "\f383";
$icon-filter-circle: "\f384";
$icon-gradient: "\f385";
$icon-specks: "\f386";
$icon-graphic-eq: "\f387";
$icon-hdr-off: "\f388";
$icon-hdr-strong: "\f389";
$icon-hdr-weak: "\f38a";
$icon-hdr: "\f38b";
$icon-iridiscent: "\f38c";
$icon-leak-off: "\f38d";
$icon-leak: "\f38e";
$icon-looks: "\f38f";
$icon-loupe: "\f390";
$icon-panaroma: "\f391";
$icon-panaroma-v: "\f392";
$icon-panaroma-w: "\f393";
$icon-thumbnail: "\f394";
$icon-thumbnails-small: "\f395";
$icon-pic-in-pic: "\f396";
$icon-play-object: "\f397";
$icon-texture: "\f398";
$icon-contrast: "\f399";
$icon-fish-eye: "\f39a";
$icon-wv-auto: "\f39b";
$icon-eject-alt: "\f39c";
$icon-eject: "\f39d";
$icon-equalizer: "\f39e";
$icon-next: "\f39f";
$icon-previous: "\f3a0";
$icon-jump-f-10: "\f3a1";
$icon-jump-f-30: "\f3a2";
$icon-jump-f-5: "\f3a3";
$icon-hearing: "\f3a4";
$icon-pause-circle: "\f3a5";
$icon-pause-circle-solid: "\f3a6";
$icon-pause: "\f3a7";
$icon-play-circle: "\f3a8";
$icon-play-circle-solid: "\f3a9";
$icon-play: "\f3aa";
$icon-tracklist: "\f3ab";
$icon-tracklist-add: "\f3ac";
$icon-rpt-this: "\f3ad";
$icon-rpt-all: "\f3ae";
$icon-jump-b-10: "\f3af";
$icon-jump-b-30: "\f3b0";
$icon-jump-b-5: "\f3b1";
$icon-jump-b: "\f3b2";
$icon-shuffle: "\f3b3";
$icon-jump-front: "\f3b4";
$icon-jump-back: "\f3b5";
$icon-stop: "\f3b6";
$icon-surround-sound: "\f3b7";
$icon-tune: "\f3b8";
$icon-voulme-d: "\f3b9";
$icon-volume-z: "\f3ba";
$icon-volume-mute: "\f3bb";
$icon-volume-u: "\f3bc";
$icon-one: "\f3bd";
$icon-two: "\f3be";
$icon-three: "\f3bf";
$icon-four: "\f3c0";
$icon-five: "\f3c1";
$icon-six: "\f3c2";
$icon-one-minus: "\f3c3";
$icon-two-minus: "\f3c4";
$icon-one-plus: "\f3c5";
$icon-two-plus: "\f3c6";
$icon-ten-seconds: "\f3c7";
$icon-three-seconds: "\f3c8";
$icon-zero: "\f3c9";
$icon-seat-angled: "\f3ca";
$icon-seat-flat: "\f3cb";
$icon-seat-bed: "\f3cc";
$icon-leg-room-m: "\f3cd";
$icon-leg-room-a: "\f3ce";
$icon-leg-room-b: "\f3cf";
$icon-recline-e: "\f3d0";
$icon-recline-n: "\f3d1";
$icon-airplay: "\f3d2";
$icon-closed-caption: "\f3d3";
$icon-conf-no: "\f3d4";
$icon-work-board: "\f3d5";
$icon-disc-alert: "\f3d6";
$icon-explicit: "\f3d7";
$icon-land: "\f3d8";
$icon-take-off: "\f3d9";
$icon-object-eject: "\f3da";
$icon-object-load: "\f3db";
$icon-trinitron: "\f3dc";
$icon-hd: "\f3dd";
$icon-hq: "\f3de";
$icon-postbox: "\f3df";
$icon-chip: "\f3e0";
$icon-nfc: "\f3e1";
$icon-fill: "\f3e2";
$icon-battery-dc: "\f3e3";
$icon-rect-up: "\f3e4";
$icon-photo: "\f3e5";
$icon-wifi-phone: "\f3e6";
$icon-phone-vibrate: "\f3e7";
$icon-voice-mail: "\f3e8";
$icon-object-details: "\f3e9";
$icon-wifi-alt: "\f3ea";
$icon-shapes: "\f3eb";
$icon-loading: "\f3ec";
$icon-objects: "\f3ed";
$icon-ex-500: "\f3ee";
$icon-ex-8tracks: "\f3ef";
$icon-ex-amazon: "\f3f0";
$icon-ex-blogger: "\f3f1";
$icon-ex-foursquare: "\f3f2";
$icon-ex-discuss: "\f3f3";
$icon-ex-no: "\f3f4";
$icon-ex-dots: "\f3f5";
$icon-ex-github: "\f3f6";
$icon-ex-google: "\f3f7";
$icon-ex-linkedin: "\f3f8";
$icon-ex-atlas: "\f3f9";
$icon-ex-outlook: "\f3fa";
$icon-ex-paypal: "\f3fb";
$icon-ex-pinterest: "\f3fc";
$icon-ex-ps: "\f3fd";
$icon-ex-reddit: "\f3fe";
$icon-ex-skype: "\f3ff";
$icon-ex-myspace: "\f400";
$icon-ex-soundcloud: "\f401";
$icon-ex-twitter: "\f402";
$icon-ex-twitch: "\f403";
$icon-ex-vimeo: "\f404";
$icon-ex-whatsapp: "\f405";
$icon-ex-xbox: "\f406";
$icon-ex-yahoo: "\f407";
$icon-ex-play: "\f408";
$icon-ex-youtube: "\f409";

